<div>
  <h1 class="font-bold text-4xl">Calculators <%= @calculator.name %></h1>

  <%= form_with url: calculate_calculator_path(@calculator), method: :post, local: true do |form| %>
    <% @calculator.fields.each do |field| %>
      <div>
        <%= form.label field.var_name, field.label %><br>
        <%if field.field_type=='number' %>
          <%= form.number_field "inputs[#{field.var_name}]", placeholder: field.label %>
        <%else%>
          <%= form.select "inputs[#{field.var_name}]", options_from_collection_for_select(field.categories, :price, :name) %>
        <%end%>
      </div>
    <% end %>
    <div class="form-actions mt-6">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>

  <% if @result.present? %>
    <p>Result: <%= @result %></p>
  <% end %>
  
</div>
